/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items:center; //vertically
    padding: 1rem $gutter;
    span {
        
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    a {
        visibility: hidden;
        text-decoration: none;
        color: $accentColor;
        font-size: 1rem;
    }
    img {
        padding: 5px;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */


#myButton::before {
    content: "\2630";
}
#myButton.open::before {
    content: "\2715";
}
#myButton {
    border: none;
    background: none;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height: 44px;
    
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


#theNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    li a {
        color:$primaryColor;
        padding: .75rem $gutter;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid $greyColor;

    }
    li.active a {
        color: $accentColor;
    
    }
}
#theNav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    ul {
        overflow: hidden;
    }
}
#theNav.open {
    grid-template-rows: 1fr;
}













/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $primaryColor;
        font-weight: $lightWeight;
        
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main

.carHero {
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    
    }

    p {
        position: absolute;
        margin: 0;
        padding: 1rem;
        text-align: center;
        top: 0; 
        right: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.01));
        color: white; 
    }
}




.allcards {
    padding: 0 $gutter;
    section {
        border: 1px solid #9c9c9c;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        padding: 10px 0;
        

        h2, p {
            margin: 0;
            padding: 1rem $gutter;
        }
        
        .icon {
           
            display: block;
            margin: auto;
            position: relative;
            
        }
        h2 {
            
            font-size: 1.5rem;
            text-align: center;
            color: $primaryColor;
        }
       
        
        p {
           font-style: italic;
        }
        a {
            display: block;
            background-color: $accentColor;
            padding: .75rem;
            text-align: center;
            margin: 0 3rem 1rem 3rem;
            border-radius: 8px;
            color: #fff;
            font-weight: 800;
            text-decoration: none;
        }
    }
    .bounce:hover .icon {animation: myBounce 1s 1;}
    .spin:hover img {animation: mySpin 1s 1;}
    .pulse:hover .icon{animation: myPulse 1s 1;}
    .color:hover .icon{animation: myColor 5s 3;}

    @keyframes myBounce {
        0% {bottom:0px; animation-timing-function: ease-out;}
        25% {bottom:15px; animation-timing-function: ease-in;}
        50% {bottom:0px; animation-timing-function: ease-out;}
        75% {bottom:7px; animation-timing-function: ease-in;}
        100% {bottom:0px; animation-timing-function: ease-out;}
    }
    @keyframes mySpin {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    
    @keyframes myPulse {
        0% {transform: scale(1.0);}
        25% {transform: scale(1.5);}
        50% {transform: scale(.75);}
        75% {transform: scale(1.25);}
        100% {transform: scale(1.0);} 
    }
    @keyframes myColor {
        0% {background-color: #333}
        15% {background-color: #6e6d6d}
        30% {background-color: #9c9c9c}
        45% {background-color: #d2d2d2}
        60% {background-color: #909090}
        75% {background-color: #444444}
        75% {background-color: #060606}
        100% {background-color: #333}
    }
}//all card



//car reviews
.reviewWrapper {
    background-color: #ececec;
    padding: 1rem 2rem;
}
 #cards {
        text-align: center;
        img {
            width: 20px;
        }
        
    }
    h3 {
        margin: 2rem $gutter 0 $gutter;
        text-align: center;
        color: $primaryColor; 
    }





/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer