$primaryColor: #3d5a80; 
$secondaryColor: #89d5ec;
$accentColor: #ee6c4d;
$greyColor: #ddd;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;